<div id="footer" class="wrapper text-center ">
  <ul class="list-unstyled">
    <li>
    <i class="fa fa-diamond" aria-hidden="true"></i>
    <%= link_to 'The Dream team', root_path %>
    </li>
    <li>
    <i class="fa fa-envelope" aria-hidden="true"></i>
    <%= link_to 'Contact us', root_path %>
    </li>
    <li>
    <i class="fa fa-facebook" aria-hidden="true"></i>
    <%= link_to 'Facebook', root_path %>
    </li>
    <li>
    <i class="fa fa-twitter" aria-hidden="true"></i>
    <%= link_to 'Twitter', root_path %>
    </li>
  </ul>
</div>
