<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h1>Update the place <%= @place.name%></h1>
      <%= simple_form_for([@owner, @place], url: owner_place_path) do |f| %>
        <%= render partial: 'form', locals: {f: f} %>
      <% end %>
      <br>
      <%= link_to 'Back', owner_places_path %>
    </div>
  </div>
</div>
