<h1>My list of places</h1>
<ul>
  <% @places.each do |place| %>
    <li>
      <h2><%= place.name %></h2>
      <p><%= place.address %></p>
      <p><%= place.city %></p>
      <% place.photos.each do |photo| %>
        <%= cl_image_tag photo.path, width: 300, height: 200, crop: :fill %>
      <% end %>
    </li>
  <% end %>
</ul>
