<div>
  <%= link_to '#' , id:"modal-image" do %>
    <% if photo %>
      <div class="header-place" style="background-image: url('<%= cl_image_path photo.path %>')">
      </div>
    <% else %>
      <div class="header-place" style="background-image: url('<%= image_path 'meeting.jpeg' %>')">
      </div>
    <% end %>
  <% end %>
</div>

<!-- Creates the bootstrap modal where the image will appear -->
<% if photo %>
  <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Image preview</h4>
        </div>
        <div class="modal-body text-center" >
          <%= cl_image_tag photo.path%>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<% end %>
