<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path 'meeting.jpg' %>');">
  <div class="banner-content">
    <h1>Find the best meeting room around you</h1>
    <p>Organizing a meeting has never been that easy :)</p>
    <div class="container">
      <form action="<%=places_path%>">
      <input id="city" type="text" name="search[city]" class="navbar-wagon-search-input" placeholder="Enter a city">
      <input type='text' class="datepicker-here navbar-wagon-search-input" data-position="bottom left" data-language='en' placeholder="Date" />
      <input type="number" name="search[capacity]" class="navbar-wagon-search-input" placeholder="Number of people">
      <button type="submit" class="btn btn-primary">  Find  </button>
      </form>
    </div>
  </div>
</div>
